
*.pyc

*.txt

.idea/.name

.idea/.name

*.xml

*.iml

*.xml

*.xml

.idea/misc.xml

.idea/encodings.xml

.idea/dictionaries/benjamiw.xml

.idea/dictionaries/benjamiw.xml

.idea/modules.xml

.idea/volPerfSummary.iml

Text-1.txt

example_vg.txt

state-capture-data.txt

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/vcs.xml

.idea/volPerfSummary.iml

.idea/volPerfSummary.iml

*.swp

tests.py

tests.py

STATE-CAPTURE-DATA7
